.row{
}

.header{
  display: inline;
}

.headline{
  display: flex;
}

.updateText{
  
  font-size: 80%;
}

.test{
  columns: 2;
}

#dateTime{
  position: relative;
  left: 2.5%;
}

.date{
  position: relative;
  left: 65%;
  vertical-align: middle;
  margin-right: 50%;
  
}

.newsSubjects{
  vertical-align: middle;
  text-align: left;
}

.line{
  margin-top: 5%;
  border-top: 1px solid #EEEEEE;
  width: 90%;
}

.footerInfo{
  padding-left: 5%;
  padding-bottom: 2%;
}

@font-face {
  font-family: coolvetica;
  src: url(coolvetica\ rg.ttf);
}

@font-face {
  font-family: lemonMilk;
  src: url(LEMONMILK-Medium.otf);
}

.newsLogoText{
  font-family: lemonMilk;
  font-size: 125%;
  color: #2C86C5;
}


a.titles{
  font-family: coolvetica;
  font-weight: lighter;
  color: #696969;
}

img{
  align:right;
}
.newsLogo{
  padding: 1%;
  vertical-align: middle;
}

.lineBreaks{
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: grey;
}
.column{
  width: 29%;
  padding-right: 2%;
  padding-left: 2%;
  vertical-align: top;
  display: inline-block;
}

a{
  text-decoration: none
}

.inner{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #FFFFFF;
  margin: 0% 15% 15% 15%;
  
  background-color: white;
  border-style: solid;
  border-width: .03em;
  border-color: #E9E9E9;
  border-radius: 5px;
}

body{
  background-color: #F2F2F2;
}