{% load static %}

<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'newsapp/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet">
   
    <meta charset="utf-8"> 
    <title></title> 
    
    
   
  
    
<!-- Optional theme -->
  </head> 
  <body>
    
    <div class="outer">

    
        <div class="inner">
            <header>
                <h1 class="subjectLine">Finance + Technology News</h1> 
                <hr class="line">
              </header>
              
                <div class="test">
                  <div class="headline header">
                    <h1 class="newsSubjects">Top Stories</h1>
                  </div>
                  <div>
                    <div class="date header">
                      <div id="dateHeader"></div>
                      <div id="dateTime"></div>
                    </div>
                  </div>
                  
                </div> 

        <p>Created by Alex Preston in 2020. A one page view of finance and technology news scraped every few minutes. 
            Inspired by Popurls. 
            `</p>
        </div>
    </div>

  
  </body> 


  <script type="text/javascript">
    var updateTime = function () {
      var d = new Date();
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var daysOfWeek = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
      document.getElementById("dateHeader").innerHTML = daysOfWeek[d.getDay()]+", "+months[d.getMonth()]+" "+d.getDate()+", "+d.getFullYear();
      
      var hours;
      var timeConvention;
      if(d.getHours() > 12){
        hours = d.getHours() - 12
        timeConvention = "PM";
      }
      else{
        hours = d.getHours();
        timeConvention = "AM";
      } 

      var minutes;
      var seconds;
      if(d.getMinutes() < 10)minutes = "0"+d.getMinutes();
      else minutes = d.getMinutes();
      if(d.getSeconds() < 10)seconds = "0"+d.getSeconds();
      else seconds = d.getSeconds()
      var zone = new Date().toLocaleTimeString('en-us',{timeZoneName:'short'}).split(' ')[2]
      document.getElementById("dateTime").innerHTML = hours+":"+minutes+":"+seconds+" "+timeConvention+" "+zone;


      

    };
  
    updateTime();
    setInterval(updateTime, 1000);

    
  </script>
  
</html> 