{% load static %}

<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'newsapp/style.css' %}">
    <script src="{% static 'newsapp/clock.js' %}"></script>   
    <meta charset="utf-8"> 
    <title></title> 
  
    
<!-- Optional theme -->
  </head> 
  <body>
    <div class="outer">

    
    <div class="inner">

    <header>
       
        
          
          <div class="header">
            <h2>Last Updated {{ update_Time }}</h2>
          </div>
          <div class="header">
            <h1 class="newsSubjects">Finance + Technology News</h1>
          </div>
          <div class="header">
            <p>Date/Time: <span class="time"></span></p>
          </div>
               <a href="{% url 'baseScrape' %}" class="btn btn-success">Get my morning news</a>
               
               


        
        
      
    </header>
     
  
    <div class="row">
      
        <div class="column">
          <a href="https://techcrunch.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="7%" src="{% static 'newsapp/techCrunchLogo.png' %}">TECH CRUNCH</a><br>
            {% for object in TCobject_list %}
                    <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
        </div>
        <div class="column">
          <a href="https://www.wsj.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="7%" src="{% static 'newsapp/wallStreetJournalLogo.png' %}">WALL STREET JOURNAL</a><br>
          
          {% for wsjobject in WSJobject_list %}
                    <a class="titles" href={{ wsjobject.url }} target=”_blank”>{{ wsjobject.title }} </a>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
        </div>
        <div class="column">
          <a href="https://news.ycombinator.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="5%" src="{% static 'newsapp/hackerNewsLogo.jpg' %}">HACKER NEWS</a><br>
          {% for TVobject in TVobject_list %}
                    <a class="titles" href={{ TVobject.url }} target=”_blank”>{{ TVobject.title }} </a>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
        </div>
    </div>
    <footer>
      <hr class="footerLine">
      <div class="footerInfo">
        <a>About</a> <a href="https://github.com/alexrpreston/News-Aggregator" target="_blank">Github</a> <a>Status</a>
      </div>
    </footer>
  </div> 
</div>

  
  </body> 
</html> 