{% load static %}

<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'newsapp/style.css' %}">      
    <meta charset="utf-8"> 
    <title></title> 
  
    
<!-- Optional theme -->
  </head> 
  <body> 
    <div class="jumbotron" <style="color:black"> 
  
      <h1 <style ="color:white"> 
   Get The latest news on our website 
  
    </div> 
  
    <div class="row">
        <div class="column"> 
            <h1>Tech Crunch</h1>
            {% for new, des, i in TClist %} 
                    {{ new }} 
                    {{ value|linebreaks }} 
            {% endfor %}
        </div>
        <div class="column">
          <h1>Wall Street Journal</h1>
          {% for new, des, i in WSJlist %} 
                    {{ new }} 
                    {{ value|linebreaks }} 
            {% endfor %}
        </div>
        <div class="column">
          <h1>CNBC</h1>
        </div>
    </div>
  
  </body> 
</html> 