{% load static %}

<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'newsapp/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">

    <meta charset="utf-8"> 
    <title></title> 
    
    
   
  
    
<!-- Optional theme -->
  </head> 
  <body>
    <header class="header">
      <h1 class="subjectLine">Finance + Technology News</h1> 
      <h3 class="lastUpdated">Last updated 5 minutes ago</h3> 
      <hr class="line">
    </header>
    <div class="outer">

      
    <div class="inner">

    
    
      
      
        <div class="test">
          <div class="headline header">
          </div>
          <div>
            <div class="date header">
              <div id="dateHeader"></div>
              <div id="dateTime"></div>
            </div>
          </div>
          
        </div> 
        <div>
          {% block content %}
            
          {% endblock %}
        </div> 
        
      
         
          
               <a href="{% url 'baseScrape' %}" class="btn btn-success">update</a>

     
  
    <div class="row">
      
        <div class="column floatingBox">
          <a href="https://techcrunch.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="7%" src="{% static 'newsapp/techCrunchLogo.png' %}">TECH CRUNCH</a><br>
            {% for object in TCobject_listHalf %}
                    <div class="tooltip">
                      <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                      <span class="titleText">{{ object.desc }}</span>
                    </div>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
            <span id="moreTC">
              {% for object in TCobject_listRest %}
              <div class="tooltip">
                <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                <span class="titleText">{{ object.desc }}</span>
              </div>
              <h1 class="lineBreaks"></h1>
              {{ value|linebreaks }} 
            {% endfor %} 
            </span>
            <button onclick="showMoreTC()" class="moreButton" id="myTCButton"><p class="moreText">VIEW MORE ↓</p></button>
        </div>
        <div class="column floatingBox">
          <a href="https://www.wired.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="7%" src="{% static 'newsapp/wiredLogo.jpeg' %}">WIRED</a><br>
            {% for object in Wiredobject_listHalf %}
                    <div class="tooltip">
                      <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                      <span class="titleText">{{ object.desc }}</span>
                    </div>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
            <span id="moreWired">
              {% for object in Wiredobject_listRest %}
              <div class="tooltip">
                <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                <span class="titleText">{{ object.desc }}</span>
              </div>
              <h1 class="lineBreaks"></h1>
              {{ value|linebreaks }} 
            {% endfor %} 
            </span>
            <button onclick="showMoreWired()" class="moreButton" id="myWiredButton"><p class="moreText">VIEW MORE ↓</p></button>
        </div>
        <div class="column floatingBox">
          <a href="https://news.ycombinator.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="5%" src="{% static 'newsapp/hackerNewsLogo.jpg' %}">HACKER NEWS</a><br>
          {% for TVobject in TVobject_listHalf %}
                <div class="tooltip">
                  <a class="titles" href={{ TVobject.url }} target=”_blank”>{{ TVobject.title }} </a>
                  <span class="titleText">{{ TVobject.desc }}</span>
                </div>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
            <span id="moreYC">
              {% for object in TVobject_listRest %}
              <div class="tooltip">
                <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                <span class="titleText">{{ object.desc }}</span>
              </div>
              <h1 class="lineBreaks"></h1>
              {{ value|linebreaks }} 
            {% endfor %} 
            </span>
            <button onclick="showMoreYC()" class="moreButton" id="myYCButton"><p class="moreText">VIEW MORE ↓</p></button>
        </div>
  </div>


  <div class="row secondRow">
      
        <div class="column floatingBox">
          <a href="https://www.wsj.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="7%" src="{% static 'newsapp/wallStreetJournalLogo.png' %}">WALL STREET JOURNAL</a><br>
          
          {% for wsjobject in WSJobject_listHalf %}
                <div class="tooltip">
                  <a class="titles" href={{ wsjobject.url }} target=”_blank”>{{ wsjobject.title }} </a>
                  <span class="titleText">{{ wsjobject.desc }}</span>
                </div>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
            <span id="moreWSJ">
              {% for object in WSJobject_listRest %}
              <div class="tooltip">
                <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                <span class="titleText">{{ object.desc }}</span>
              </div>
              <h1 class="lineBreaks"></h1>
              {{ value|linebreaks }} 
            {% endfor %} 
            </span>
            <button onclick="showMoreWSJ()" class="moreButton" id="myWSJButton"><p class="moreText">VIEW MORE ↓</p></button>
        </div>
        <div class="column floatingBox">
          <a href="https://seekingalpha.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="7%" src="{% static 'newsapp/seekingAlphaLogo.png' %}">SEEKING ALPHA</a><br>
          
          {% for object in SAobject_listHalf %}
                <div class="tooltip">
                  <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                  <span class="titleText">{{ object.desc }}</span>
                </div>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
            <span id="moreSkAlpha">
              {% for object in SAobject_listRest %}
              <div class="tooltip">
                <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                <span class="titleText">{{ object.desc }}</span>
              </div>
              <h1 class="lineBreaks"></h1>
              {{ value|linebreaks }} 
            {% endfor %} 
            </span>
            <button onclick="showMoreSkAlpha()" class="moreButton" id="mySkAlphaButton"><p class="moreText">VIEW MORE ↓</p></button>
        </div>
        <div class="column floatingBox">
          <a href="https://www.businessinsider.com/" target="_blank" class="newsLogoText"><img class="newsLogo" width="5%" src="{% static 'newsapp/businessInsiderLogo.jpg' %}">BUSINESS INSIDER</a><br>
          {% for object in BIobject_listHalf %}
                <div class="tooltip">
                  <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                  <span class="titleText">{{ object.desc }}</span>
                </div>
                    <h1 class="lineBreaks"></h1>
                    {{ value|linebreaks }} 
            {% endfor %}
            <span id="moreBI">
              {% for object in BIobject_listRest %}
              <div class="tooltip">
                <a class="titles" href={{ object.url }} target=”_blank”>{{ object.title }} </a>
                <span class="titleText">{{ object.desc }}</span>
              </div>
              <h1 class="lineBreaks"></h1>
              {{ value|linebreaks }} 
            {% endfor %} 
            </span>
            <button onclick="showMoreBI()" class="moreButton" id="myBIButton"><p class="moreText">VIEW MORE ↓</p></button>
        </div>
  </div>
    <footer>
      <hr class="line">
      <div class="footerInfo">
        <a href="{% url 'about' %}" target="_self">About</a> <a href="https://github.com/alexrpreston/News-Aggregator" target="_blank">Github</a> <a>Status</a>
      </div>
    </footer>
  </div>
</div>
</div>
</div>

  
  </body> 


  <script type="text/javascript">

    function changeMoreButton(moreText, btnText){
      if (btnText.innerHTML == "VIEW LESS ↑") {
        btnText.innerHTML = "VIEW MORE ↓";
        btnText.classList.add('moreText');
        moreText.style.display = "none";
      } 
      else {
        btnText.innerHTML = "VIEW LESS ↑";
        btnText.classList.add('moreText');
        moreText.style.display = "inline";
      }
    }

    function showMoreTC() {
    var moreText = document.getElementById("moreTC");
    var btnText = document.getElementById("myTCButton");

      changeMoreButton(moreText, btnText);
    }

    function showMoreBI() {
    var moreText = document.getElementById("moreBI");
    var btnText = document.getElementById("myBIButton");

      changeMoreButton(moreText, btnText);
    }

    function showMoreWired() {
    var moreText = document.getElementById("moreWired");
    var btnText = document.getElementById("myWiredButton");

      changeMoreButton(moreText, btnText);
    }

    function showMoreSkAlpha() {
    var moreText = document.getElementById("moreSkAlpha");
    var btnText = document.getElementById("mySkAlphaButton");

      changeMoreButton(moreText, btnText);
    }

    function showMoreYC() {
    var moreText = document.getElementById("moreYC");
    var btnText = document.getElementById("myYCButton");

      changeMoreButton(moreText, btnText);
    }

    function showMoreWSJ() {
      var moreText = document.getElementById("moreWSJ");
      var btnText = document.getElementById("myWSJButton");
      
      changeMoreButton(moreText, btnText);
        
    }

    
    
  </script>
</html> 