{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head> 
    <meta charset="utf-8"> 
    <title></title> 
  
    
<!-- Optional theme -->
  </head> 
  <body> 
    <div class="jumbotron" <style="color:black"> 
  
      <h1 <style ="color:white"> 
   Get The latest news on our website 
  
    </div> 
  
    <div class="row">
        <div class="column"> 
            {% for new, des, i in mylist %} 
                    <img src="{{ i }}" alt=""> 
                    <h1>news:</h1> {{ new }} 
                    {{ value|linebreaks }} 
        
                    <h4>description:</h4>{{ des }} 
                    {{ value|linebreaks }} 
        
            {% endfor %}
            {% for new, des, i in mylist %} 
                    <img src="{{ i }}" alt=""> 
                    <h1>news:</h1> {{ new }} 
                    {{ value|linebreaks }} 
        
                    <h4>description:</h4>{{ des }} 
                    {{ value|linebreaks }} 
        
            {% endfor %}
            {% for new, des, i in mylist %} 
                    <img src="{{ i }}" alt=""> 
                    <h1>news:</h1> {{ new }} 
                    {{ value|linebreaks }} 
        
                    <h4>description:</h4>{{ des }} 
                    {{ value|linebreaks }} 
        
            {% endfor %}
        </div>
        <div class="column wallStreetJournal">
            {% for new, des, i in mylist %} 
                    <img src="{{ i }}" alt=""> 
                    <h1>news:</h1> {{ new }} 
                    {{ value|linebreaks }} 
        
                    <h4>description:</h4>{{ des }} 
                    {{ value|linebreaks }} 
        
            {% endfor %} 
        </div>
        <div class="column hackerNoon">
            {% for new, des, i in mylist %} 
                    <img src="{{ i }}" alt=""> 
                    <h1>news:</h1> {{ new }} 
                    {{ value|linebreaks }} 
        
                    <h4>description:</h4>{{ des }} 
                    {{ value|linebreaks }} 
        
            {% endfor %}     
        </div>
    </div>
  
  </body> 
</html> 